

body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  .file-upload {
    background-color: #f9f9f9;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  .photodiv{
    padding: 2vw;
    padding-top: 2rem;

  }

  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 2px dotted #95a5a6;
    
    color: #95a5a6;
    
    position: relative;
    transition: all 500ms;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #7f8c8d;
    border: 2px dotted #ffffff;
    color: #ecf0f1;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 30vh;
    max-width: 30vh;
    margin: auto;
    padding: 20px;
    border-radius: 3.5vh;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

/* ______________여기까지는 이미지 드래그앤드롭____________*/

.headtitle{
  font-family: 'Nanum Gothic', sans-serif;;
  font-size: 3vh;
  color: #1e2227;
}

header{
  background-color: #ffffff;
  width: 100%;
}

.downcon{
  font-size: 3vh;
  color: #34495e;
}

#test-result,#checkresult,#zoneindex,#closesubtitle,#subtitle{
  display: none;
}

.line{
  width: 95%;
  margin: 0 auto;
}

.desciptionapp-div{
  
  width: 70%;
  margin: 0 auto;
  margin-top: 3vh;
  font-family: 'Nanum Gothic', sans-serif;
}
span{
  font-family: 'Nanum Gothic', sans-serif;
}


.loading{
  width: 10vh;

}

.text1{
  font-size: 2.1vh;
}

.text2{
  font-size: 1.9vh;
}

.text3{
  font-size: 1.9vh;
  margin-bottom: 1.2vh;
}

.waitingtext1{
  font-size: 2.1vh;
}

.waitingtext2{
  color: #95a5a6;
  font-size: 1.8vh;
}

.result-message{
}



.checkresult {
  font-family: 'Nanum Gothic', sans-serif;
  background: #ff96a6;
  color: #ffffff;
  transition: all 600ms ease;
  cursor: pointer;
  height: 4.5vh;
}

.checkresult:hover {
  background:#FC427B;
}

.uploadicon{
  font-size:15vh ;
}

.tiredindex-class{
  font-size:1.7vh
}

.tiredindex-total-class{
  font-size:2vh
}

.green{
  background-color:#00b8933d;
}

.greenbar{
  background-color:#00b894;
}

.red{
  background-color:#f05e3a44;
}

.redbar{
  background-color:#f05e3a;
}

.gray{
  background-color:#9493934b;
}

.graybar{
  background-color:#949393;
}

.oneline-green{
 color: #2ecc71; 
}
.oneline-blue{
 color: #3498db; 
}
.oneline-puple{
 color: #9b59b6; 
}
.oneline-red{
 color: #c0392b; 
}
.oneline-gray{
 color: #95a5a6; 
}

.onelinemessage{
  font-size:2.3vh
}

.onelinedescription{
  color: #666f70;
  font-size:1.8vh
}

.red-text{
  color: #f05e3a;;
}

.onelinezone{
  font-size:2.1vh
}

footer {
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.transition {
  transition: all .2s ease;
}

.transition-middle {
  transition: all .35s ease;
}

.subheadtitle{
  font-family: 'Nanum Gothic', sans-serif;;
  font-size: 1.8vh;
  color: #1e2227;
}

.px16vh {
  padding-left: 1.6vh;
  padding-right: 1.6vh;
}

.py13vh {
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
}

.pt13vh {
  padding-top: 1.3vh;
}

.pb05vh {
  padding-top: 0.5vh;
}

.px24vh {
  padding-left: 2.4vh;
  padding-right: 2.4vh;
}

.px15vh {
  padding-left: 1.5vh;
  padding-right: 1.5vh;
}

.mb14vh{
  margin-bottom: 1.4vh;
}

.mr14vh{
  margin-right: 1.4vh;
}
.mr10vh{
  margin-right: 1.0vh;
}

.mr8vh{
  margin-right: 0.8vh;
}

.mt150vh{
  margin-top: 15vh;
}