

body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  .file-upload {
    background-color: #f9f9f9;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 2px dotted #95a5a6;
    
    color: #95a5a6;
    
    position: relative;
    transition: all 500ms;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #7f8c8d;
    border: 2px dotted #ffffff;
    color: #ecf0f1;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }

/* ______________여기까지는 이미지 드래그앤드롭____________*/

.headtitle{
  font-family: 'Nanum Gothic', sans-serif;;
  font-size: 3vh;
  color: #1e2227;
}

header{
  background-color: #ffffff;
  width: 100%;
}

.downcon{
  font-size: 3vh;
  color: #34495e;
}

#test-result,#checkresult,#zoneindex{
  display: none;
}

.line{
  width: 90%;
  margin: 0 auto;
}

.desciptionapp-div{
  
  width: 70%;
  margin: 0 auto;
  margin-top: 5vh;
  font-family: 'Nanum Gothic', sans-serif;
}
span{
  font-family: 'Nanum Gothic', sans-serif;
}


.loading{
  width: 10vh;

}

.waitingtext1{
  color: #95a5a6;
  font-size: 3vh;
}

.waitingtext2{
  color: #95a5a6;
  font-size: 2vh;
}

.result-message{
}



.checkresult {
  font-family: 'Nanum Gothic', sans-serif;
  background: #ff96a6;
  color: #ffffff;
  transition: all 600ms ease;
  cursor: pointer;
}

.checkresult:hover {
  background:#FC427B;
}

.uploadicon{
  font-size:15vh ;
}

.tiredindex-class{
  font-size:2.2vh
}

.zone1{
  background-color: #a29bfe;
}

.zone1bar{
  background-color:#6c5ce7;
}

.zone2{
  background-color: #55efc4;
}

.zone2bar{
  background-color:#00b894;
}

.zone3{
  background-color: #ffeaa7;
}

.zone3bar{
  background-color:#fdcb6e;
}

.zone4{
  background-color: #fab1a0;
}

.zone4bar{
  background-color:#e17055;
}